<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>header_links}}
    
    <title>Weather</title>
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Day</p>
                        <p id="todayDate">Date</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Output will be shown here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span> <sup>0</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="JS/main.js"></script>
    
</body>

</html>